table{
    border-collapse: collapse;
  }
  table,tr,td {
    border: 1px solid black;
  }
  table.center {
      margin:auto;
    }
  tr:nth-of-type(even) td:nth-of-type(odd),tr:nth-of-type(odd) td:nth-of-type(even)
  {
    color:white;background-color:white;
  }
  tr:nth-of-type(even) td:nth-of-type(even),
  tr:nth-of-type(odd) td:nth-of-type(odd)
  {
  color:black;background-color:black;
  padding: 15px;
  }
  h1
  {
    text-align:center;
  }
#babuk:hover
{
    transform: scale(1.5);
    transition: 1s cubic-bezier(.03,-0.45,0,1.56);
}

#babuk
{
    display: block;
    margin: 0 auto;
    transition: 1s cubic-bezier(.03,-0.45,0,1.56);
    padding: 50px;
}

#sakkozok
{
    display: inline-block;
    margin: 0 auto;
    border-radius: 100%;
    width: 150px;
    height: auto;
}